header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #20232a;
    color: #ffffff;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
    img {
        width: 80px;
    }
}